:root {
  /* цветовая палитра */
  --white: #ffffff;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-90: #e6e6e6;
  --grey-95: #f2f2f2;
  --green-70: #cbea7b;
  --green-85: #e5f5bd;
  --green-90: #eef8d3;
  --green-95: #f6fbe9;
  --green-97: #fafdf2;
  --dark-green-15: #1a3129;
  --dark-green-25: #2c5446;
  --dark-green-20: #234338;
  --dark-green-30: #356554;
}

.page {
  margin: 0 auto;
  padding-top: 172px;
  min-width: 320px;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-20);
  background-color: var(--green-97);
  font-family: "Urbanist", sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.section {
  margin: 0 162px;
  border: 1px solid var(--green-85);
  background: var(--green-95);
}

.button {
  background-color: var(--green-70);
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  color: var(--grey-15);
  font-weight: 600;
}
.button:hover {
  cursor: pointer;
  opacity: 0.85;
}

@media screen and (max-width: 1023px) {
  .page {
    padding-top: 0px;
    font-size: 16px;
  }
  .section {
    margin: 0 32px;
  }
  .button {
    padding: 14px 22px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 479px) {
  .page {
    font-size: 14px;
  }
  .section {
    margin: 0 16px;
  }
  .button {
    padding: 14px 20px;
    border-radius: 6px;
  }
}
