.categories {
  color: var(--white);
  background-color: var(--dark-green-20);
  border-radius: 0 0 12px 12px;
  margin-bottom: 50px;
}

.categories-form {
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
  overflow: hidden;
  gap: 10px;
}

.categories-form__input {
  display: none;
}

.categories-form__input:checked + .categories-form__label {
  background-color: var(--dark-green-25);
  border: 1px solid var(--dark-green-30);
}

.categories-form__label {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
}
.categories-form__label:hover {
  cursor: pointer;
  border: 1px solid var(--dark-green-30);
}

@media screen and (max-width: 1023px) {
  .categories {
    border-radius: 0 0 10px 10px;
    margin-bottom: 40px;
  }
  .categories-form {
    padding: 30px 40px;
  }
  .categories-form__label {
    padding: 12px 20px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 479px) {
  .categories {
    margin-bottom: 30px;
  }
  .categories-form {
    padding: 20px;
  }
}
