.intro {
  padding: 100px;
  text-align: center;
  background: url(../images/abstract-design.svg) no-repeat var(--green-95);
  background-size: 749px calc(380px + 47px);
  background-position: center -47px;
}

.intro__logo {
  margin: 0 auto 80px;
  background: url(../images/logo-intro.svg) no-repeat;
  width: 90px;
  height: 90px;
  background-size: contain;
  border-radius: 16px;
}

.intro__title {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 40px;
    background-size: 600px calc(300px + 47px);
    border-radius: 10px 10px 0 0;
  }
  .intro__logo {
    margin: 0 auto 30px;
    width: 75px;
    height: 75px;
    border-radius: 13px;
  }
  .intro__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 479px) {
  .intro {
    padding: 30px;
    background-size: 417px calc(211px + 47px);
    border-radius: 10px 10px 0 0;
  }
  .intro__logo {
    margin: 0 auto 30px;
    width: 62px;
    height: 62px;
    border-radius: 10px;
  }
  .intro__title {
    font-size: 28px;
  }
}
