/* Сброс стилей и базовые настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Переменные цветов */
:root {
  --white: #ffffff;
  --black: #000000;

  --grey: #d4d4d4;
  --light-grey: #f6f6f6;

  --green: #a0cd9e;
  --light-green: #eff6f3;
  --dark-green: #3a4f39;
}

/* Базовые стили страницы */
.page {
  display: grid;
  gap: 50px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  background-color: var(--white);
  justify-content: center;
}

.content {
  display: grid;
  gap: 50px;
}

/* Общие стили для контейнеров */
.header,
.content,
.footer {
  max-width: 1920px;
}

.rectangular-button {
  font-size: 18px;
  padding: 14.5px 72.5px;
  color: var(--dark-green);
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
}

.rectangular-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.rectangular-button_green {
  color: var(--white);
  background: var(--dark-green);
}
